        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Projects</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Projects</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start latest-projects-section -->
        <section class="latest-projects-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="section-title-s3">
                            <span>Projects</span>
                            <h2>See Latest Projects</h2>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 sortable-gallery">
                        <div class="gallery-filters">
                            <ul>
                                <li><a data-filter="*" href="#" class="current">All Cases</a></li>
                                <li><a data-filter=".chemical" href="#">Chemical</a></li>
                                <li><a data-filter=".oil" href="#">Oil & Gas</a></li>
                                <li><a data-filter=".mechanical" href="#">mechanical</a></li>
                                <li><a data-filter=".industrial" href="#">industrial</a></li>
                            </ul>
                        </div>
                        <div class="gallery-container project-grids">
                            <div class="grid chemical">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-1.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="#">Asian Industrial Project</a></h3>
                                            <p class="cat">Industry, Corporate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid eudcation oil">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-2.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="#">Asian Industrial Project</a></h3>
                                            <p class="cat">Industry, Corporate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid oil eudcation">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-3.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="#">Asian Industrial Project</a></h3>
                                            <p class="cat">Industry, Corporate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid chemical mechanical">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-4.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="#">Asian Industrial Project</a></h3>
                                            <p class="cat">Industry, Corporate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid oil industrial">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-5.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="#">Asian Industrial Project</a></h3>
                                            <p class="cat">Industry, Corporate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid mechanical industrial">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-6.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="#">Asian Industrial Project</a></h3>
                                            <p class="cat">Industry, Corporate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end latest-projects-section -->


