
        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Projects</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Projects</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start latest-projects-section-s2 -->
        <section class="latest-projects-section-s2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="section-title-s4">
                            <span>Projects</span>
                            <h2>See Latest Projects <span>For our client</span></h2>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="content-area">
                <div class="team-grids projects-slider">
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/img-1.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="#">Asian Industrial Project</a></h3>
                                    <p class="cat">Industry, Corporate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/img-2.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="#">Asian Industrial Project</a></h3>
                                    <p class="cat">Industry, Corporate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/img-3.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="#">Asian Industrial Project</a></h3>
                                    <p class="cat">Industry, Corporate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/img-4.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="#">Asian Industrial Project</a></h3>
                                    <p class="cat">Industry, Corporate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/img-5.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="#">Asian Industrial Project</a></h3>
                                    <p class="cat">Industry, Corporate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/img-6.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href="#"><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="#">Asian Industrial Project</a></h3>
                                    <p class="cat">Industry, Corporate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end latest-projects-section-s2 -->
        