

        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Services</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Services</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start services-section-s2 -->
        <section class="services-section-s2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="service-grids clearfix">
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-1.jpg" alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-solar-energy"></i>
                                    <h3><a href="#">Power & Energy</a></h3>
                                    <p>Recently cut out of an illustrated magine and housed indust</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-2.jpg" alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-plug"></i>
                                    <h3><a href="#">Mechanical Works</a></h3>
                                    <p>Recently cut out of an illustrated magine and housed indust</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-3.jpg" alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-oil-barrel"></i>
                                    <h3><a href="#">Petroleum Refinery</a></h3>
                                    <p>Recently cut out of an illustrated magine and housed indust</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-4.jpg" alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-oil-1"></i>
                                    <h3><a href="#">Oil and Gas</a></h3>
                                    <p>Recently cut out of an illustrated magine and housed indust</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-5.jpg" alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-truck"></i>
                                    <h3><a href="#">Logistics Services</a></h3>
                                    <p>Recently cut out of an illustrated magine and housed indust</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-6.jpg" alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-factory"></i>
                                    <h3><a href="#">General Industry</a></h3>
                                    <p>Recently cut out of an illustrated magine and housed indust</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end services-section-s2 -->


