<!-- Start header -->
<header id="header" class="site-header header-style-1">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col col-md-9">
                    <div class="contact-info">
                        <ul>
                            <li><i class="ti-mobile"></i> +884574156414</li>
                            <li><i class="ti-email"></i> example@demo.com</li>
                            <li><i class="ti-time"></i> Sun - Fri 10AM - PM</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-3">
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end topbar -->
    <nav class="navigation navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img src="assets/images/logo.png" alt></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                <button class="close-navbar"><i class="ti-close"></i></button>
                <ul class="nav navbar-nav">
                    <li class="menu-item-has-children">
                        <a href="">ACCUEIL</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about">About</a></li>
                            <li><a href="testimonials">Testimonials</a></li>
                            <li><a href="team">Team</a></li>
                            <li><a href="faq">FAQ</a></li>
                            <li><a href="404">404</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Services</a>
                        <ul class="sub-menu">
                            <li><a href="services">Services</a></li>
                            <li><a href="services-s2">Services style 2</a></li>
                            <li><a href="service-single">Power & energy</a></li>
                            <li><a href="mechanical-works">Mechanical Works</a></li>
                            <li><a href="petroleum-refinery">Petroleum Refinery</a></li>
                            <li><a href="oil-gas-industry">Oil & Gas Industry</a></li>
                            <li><a href="logistics-services">Logistics Services</a></li>
                            <li><a href="general-insustry">General Insustry</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Projects</a>
                        <ul class="sub-menu">
                            <li><a href="projects">Projects</a></li>
                            <li><a href="projects-s2">Projects style 2</a></li>
                            <li><a href="portfolio-single">Project single</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog">Blog default</a></li>
                            <li><a href="blog-left-sidebar">Blog left sidebar</a></li>
                            <li><a href="blog-full-width">Blog full width</a></li>
                            <li class="menu-item-has-children">
                                <a href="#Level3">Blog single</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-single.">Blog single</a></li>
                                    <li><a href="blog-single-left-sidebar">Blog single left sidebar</a></li>
                                    <li><a href="blog-single-full-width">Blog single full width</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div><!-- end of nav-collapse -->

            <div class="search-contact">
                <div class="header-search-form-wrapper">
                    <button class="search-toggle-btn"><i class="ti-search"></i></button>
                    <div class="header-search-form">
                        <form>
                            <div>
                                <input type="text" class="form-control" placeholder="Search here...">
                                <button type="submit"><i class="ti-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="contact-btn">
                    <a href="#" class="theme-btn-s2">Get a quote</a>
                </div>
            </div>
        </div><!-- end of container -->
    </nav>
</header>
<!-- end of header -->
