
        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Blog</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start blog-pg-section -->
        <section class="blog-pg-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8">
                        <div class="blog-content">
                            <div class="post format-standard-image">
                                <div class="entry-media">
                                    <img src="assets/images/blog/img-4.jpg" alt>
                                </div>
                                <div class="meta-title">
                                    <div class="meta">
                                        <ul class="entry-meta">
                                            <li><a href="#"><i class="ti-time"></i> 06 Jun, 2019</a></li>
                                            <li><a href="#"><i class="ti-book"></i> Consulting, Business</a></li>
                                            <li><a href="#"><i class="ti-comment-alt"></i> 5</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#">This community would not exist if it were not for manufacturing being </a></h3>
                                    </div>
                                </div>
                                <p>Above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                                <a href="#" class="theme-btn">Read More</a>
                            </div>
                            <div class="post format-standard">
                                <div class="meta-title">
                                    <div class="meta">
                                        <ul class="entry-meta">
                                            <li><a href="#"><i class="ti-time"></i> 06 Jun, 2019</a></li>
                                            <li><a href="#"><i class="ti-book"></i> Consulting, Business</a></li>
                                            <li><a href="#"><i class="ti-comment-alt"></i> 5</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#">We were happy to see we were included among a lot of other great companies.</a></h3>
                                    </div>
                                </div>
                                <p>Above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                                <a href="#" class="theme-btn">Read More</a>
                            </div>
                            <div class="post format-gallery">
                                <div class="entry-media post-slider">
                                    <img src="assets/images/blog/img-5.jpg" alt>
                                    <img src="assets/images/blog/img-4.jpg" alt>
                                </div>
                                <div class="meta-title">
                                    <div class="meta">
                                        <ul class="entry-meta">
                                            <li><a href="#"><i class="ti-time"></i> 06 Jun, 2019</a></li>
                                            <li><a href="#"><i class="ti-book"></i> Consulting, Business</a></li>
                                            <li><a href="#"><i class="ti-comment-alt"></i> 5</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#">It’s a surefire way to keep abreast of the competition, and sometimes.</a></h3>
                                    </div>
                                </div>
                                <p>Above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                                <a href="#" class="theme-btn">Read More</a>
                            </div>
                            <div class="post format-quote">
                                <h3><a href="#">A comprehensive and expertly</a></h3>
                                <p>Above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that </p>
                            </div>
                            <div class="post format-video">
                                <div class="entry-media video-holder">
                                    <img src="assets/images/blog/img-6.jpg" alt>
                                    <a href="https://www.youtube.com/embed/7e90gBu4pas?autoplay=1" class="video-btn" data-type="iframe">
                                        <i class="fi flaticon-play-button-2"></i>
                                    </a>
                                </div>
                                <div class="meta-title">
                                    <div class="meta">
                                        <ul class="entry-meta">
                                            <li><a href="#"><i class="ti-time"></i> 06 Jun, 2019</a></li>
                                            <li><a href="#"><i class="ti-book"></i> Consulting, Business</a></li>
                                            <li><a href="#"><i class="ti-comment-alt"></i> 5</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#">Centered on those vital players in the manufacturing trade</a></h3>
                                    </div>
                                </div>
                                <p>Above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                                <a href="#" class="theme-btn">Read More</a>
                            </div>
                            <div class="pagination-wrapper pagination-wrapper-left">
                                <ul class="pg-pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <i class="fi flaticon-back"></i>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <i class="fi flaticon-next"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="blog-sidebar">
                            <div class="widget search-widget">
                                <h3>Search</h3>
                                <form>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Search Post..">
                                        <button type="submit"><i class="ti-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="widget category-widget">
                                <h3>Categories</h3>
                                <ul>
                                    <li><a href="#">Industry (2)</a></li>
                                    <li><a href="#">Factory (5)</a></li>
                                    <li><a href="#">Construction (12)</a></li>
                                    <li><a href="#">Oil & gas (12)</a></li>
                                    <li><a href="#">Repearing (8)</a></li>
                                </ul>
                            </div>
                            <div class="widget recent-post-widget">
                                <h3>Recent post</h3>
                                <div class="posts">
                                    <div class="post">
                                        <div class="img-holder">
                                            <img src="assets/images/recent-posts/img-1.jpg" alt>
                                        </div>
                                        <div class="details">
                                            <h4><a href="#">Whole of her lower arm towards the viewer</a></h4>
                                            <span class="date"><i class="ti-timer"></i>Jun 29 2019</span>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="img-holder">
                                            <img src="assets/images/recent-posts/img-2.jpg" alt>
                                        </div>
                                        <div class="details">
                                            <h4><a href="#">Recently cut out of an illustrated magazine </a></h4>
                                            <span class="date"><i class="ti-timer"></i>Jun 29 2019</span>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="img-holder">
                                            <img src="assets/images/recent-posts/img-3.jpg" alt>
                                        </div>
                                        <div class="details">
                                            <h4><a href="#">Eemed ready to slide off any moment</a></h4>
                                            <span class="date"><i class="ti-timer"></i>Jun 29 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget tag-widget">
                                <h3>Tags</h3>
                                <ul>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Construction</a></li>
                                    <li><a href="#">Repeair</a></li>
                                    <li><a href="#">Factory</a></li>
                                    <li><a href="#">Corporate</a></li>
                                    <li><a href="#">Industry</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end blog-pg-section -->
