
        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Service single</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Service single</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-9 col-md-push-3">
                        <div class="service-single-content">
                            <div class="service-single-img-holder">
                                <img src="assets/images/service-single/img-4.jpg" alt>
                            </div>
                            <h2>Oil & Gas Industry</h2>
                            <p>A collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer gregor then turned to look out</p>
                            <blockquote>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer gregor then turned to look out</p>
                                <span>-Jhon smith</span>
                            </blockquote>
                            <div class="benefit clearfix">
                                <div class="img-holder">
                                    <img src="assets/images/service-single/benefit-pic.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3>System Benefits</h3>
                                    <ul>
                                        <li><span>1</span> Muff that covered the whole of her lower arm</li>
                                        <li><span>1</span> Raising a heavy fur muff that covered the whole </li>
                                        <li><span>1</span> Pitifully thin compared with the size of the rest of him</li>
                                    </ul>
                                    <p>A collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with</p>
                                </div>
                            </div>
                            <div class="research">
                                <h3>Research</h3>
                                <p>Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer gregor then turned to look out</p>
                            </div>
                            <div class="problem-solution-section">
                                <div class="panel-group theme-accordion-s2" id="accordion">
                                    <div class="panel panel-default active-bg-color">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true">What problems we face?</a>
                                        </div>
                                        <div id="collapse-1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. textile samples lay spread out on the tabl. fur muff that covered the whole of her lower arm towards the viewer gregor then turned to look out</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Was our solution best?</a>
                                        </div>
                                        <div id="collapse-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. textile samples lay spread out on the tabl. fur muff that covered the whole of her lower arm towards the viewer gregor then turned to look out</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">Was our client satisfy?</a>
                                        </div>
                                        <div id="collapse-3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. textile samples lay spread out on the tabl. fur muff that covered the whole of her lower arm towards the viewer gregor then turned to look out</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <a href="#" class="theme-btn">Get the service</a>                            
                        </div>
                    </div>
                    <div class="col col-md-3 col-md-pull-9">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <ul>
                                    <li><a href="services.html">All Service</a></li>
                                    <li><a href="service-single.html">Power & energy</a></li>
                                    <li><a href="mechanical-works.html">Mechanical Works</a></li>
                                    <li><a href="petroleum-refinery.html">Petroleum Refinery</a></li>
                                    <li class="current"><a href="oil-gas-industry.html">Oil & Gas Industry</a></li>
                                    <li><a href="logistics-services.html">Logistics Services</a></li>
                                    <li><a href="general-insustry.html">General Insustry</a></li>
                                </ul>
                            </div>
                            <div class="widget download-widget">
                                <ul>
                                    <li><a href="#"><i class="ti-zip"></i>Company presentation</a></li>
                                    <li><a href="#"><i class="ti-zip"></i>Download brochure</a></li>
                                </ul>
                            </div>
                            <div class="widget contact-widget">
                                <div>
                                    <h5>We are industrial <span>Experts</span></h5>
                                    <a href="#">Contact with us</a>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->

