
        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Testimonials</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Testimonials</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start testimonials-section-s3 -->
        <section class="testimonials-section-s3 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="testimonial-grids clearfix">
                            <div class="grid">
                                <div class="client-info">
                                    <div class="client-pic">
                                        <img src="assets/images/testimonials/img-1.jpg" alt>
                                    </div>
                                    <h4>Jhon Dow</h4>
                                    <span>Manager of Demok</span>
                                </div>
                                <div class="client-quote">
                                    <p>“collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame”</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="client-info">
                                    <div class="client-pic">
                                        <img src="assets/images/testimonials/img-2.jpg" alt>
                                    </div>
                                    <h4>Shaim mac</h4>
                                    <span>CEO of foundation</span>
                                </div>
                                <div class="client-quote">
                                    <p>“collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame”</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="client-info">
                                    <div class="client-pic">
                                        <img src="assets/images/testimonials/img-3.jpg" alt>
                                    </div>
                                    <h4>Jonathon pil</h4>
                                    <span>Operation Manager</span>
                                </div>
                                <div class="client-quote">
                                    <p>“collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame”</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="client-info">
                                    <div class="client-pic">
                                        <img src="assets/images/testimonials/img-4.jpg" alt>
                                    </div>
                                    <h4>Jain</h4>
                                    <span>Manager of Demok</span>
                                </div>
                                <div class="client-quote">
                                    <p>“collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame”</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="client-info">
                                    <div class="client-pic">
                                        <img src="assets/images/testimonials/img-1.jpg" alt>
                                    </div>
                                    <h4>Jhon Dow</h4>
                                    <span>Manager of Demok</span>
                                </div>
                                <div class="client-quote">
                                    <p>“collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame”</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="client-info">
                                    <div class="client-pic">
                                        <img src="assets/images/testimonials/img-3.jpg" alt>
                                    </div>
                                    <h4>Jonathon pil</h4>
                                    <span>Operation Manager</span>
                                </div>
                                <div class="client-quote">
                                    <p>“collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end testimonials-section-s3 -->
