        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Portfolio single</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Portfolio single</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start portfolio-sigle-section -->
        <section class="portfolio-sigle-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="project-single-content">
                            <div class="img-holder">
                                <img src="assets/images/project-single/img-1.jpg" alt>
                            </div>
                            <div class="content-area">
                                <div class="project clearfix">
                                    <div class="project-info">
                                        <ul>
                                            <li><span>Client:</span> Jhon dow</li>
                                            <li><span>Location:</span> Loan street, London</li>
                                            <li><span>Date:</span> May 08, 2019</li>
                                            <li><span>Catetory:</span> Business, Industrial</li>
                                            <li><span>Time:</span> 2 Month</li>
                                            <li><span>Tags:</span> Industry, Business </li>
                                        </ul>
                                    </div>
                                    <div class="project-details">
                                        <h2>Industrial Project in london</h2>
                                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and</p>
                                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although </p>
                                    </div>
                                </div>
                                <div class="challange-solution-section">
                                    <div class="panel-group theme-accordion-s2" id="accordion">
                                        <div class="panel panel-default active-bg-color">
                                            <div class="panel-heading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true">The Challange Was</a>
                                            </div>
                                            <div id="collapse-1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p>Building constring support lay spread out on the table samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Our Solutions Was</a>
                                            </div>
                                            <div id="collapse-2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Building constring support lay spread out on the table samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="prev-next-project">
                                    <div>
                                        <a href="#">
                                            <div class="icon">
                                                <i class="ti-angle-left"></i>
                                            </div>
                                            <span>Previous project</span>
                                            <h5>Turned to look out the window at the dull </h5>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <div class="icon">
                                                <i class="ti-angle-right"></i>
                                            </div>
                                            <span>Next project</span>
                                            <h5>covered the whole of her lower</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end portfolio-sigle-section -->
